#invbar .top{
  display:none;
  --h:3rem;
  --m: 5px;
  height:var(--h);
  width:100%;
  position:absolute;z-index:1;
  top:var(--m);left:0;
  
  grid-template-columns:var(--h) auto var(--h);
  padding-left:var(--m);
  padding-right:var(--m);
}

#invbar.active{display:grid;}