#container .navbar{
  display:none;
  --h:3rem;
  --m: 5px;
  height:var(--h);
  width:100%;
  position:absolute;z-index:1;
  top:var(--m);left:0;
  
  grid-template-columns:var(--h) auto var(--h);
  padding-left:var(--m);
  padding-right:var(--m);
}
#container .navbar.active{display:grid;}

#container .navbar > div > div{
  height:100%;width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
#container .navbar .iconDiv{background-color:#323232;border-radius:15px;}
#container .navbar .textDiv{flex-direction:column;}

#container .navbar i{font-size:calc( 3 * var(--h) / 5 );}