
#container .navbar{
  --h:3rem;
  height:var(--h);
  width:100%;
  position:absolute;z-index:1;
  top:0;left:0;
  
  display:grid;
  grid-template-columns:var(--h) auto var(--h);
}

#container .navbar > div{
  padding:5px;
}

#container .navbar .iconDiv{
  --p:10px;
  padding:var(--p);
  height:100%;width:100%;
  background-color:#323232;
  border-radius:15px;
  
  display:flex;
  justify-content:center;
  align-items:center;
}

#container .navbar i{
  font-size:calc( var(--h) - 4 * var(--p) );
}