<!DOCTYPE html>
<html lang="en">
<head>
  
  {{> head }}
  
  <title>Amrita Trees</title>
  <link rel="stylesheet" href="./css/style.css">
  <script src="./js/app.js" defer></script>

<style>
  
body{
  background-image:url("https://www.freevector.com/uploads/vector/preview/4790/FreeVector-Leaves-Pattern-1.jpg");
  background-repeat: repeat;
  background-size:200px;
}  

nav{
  display:flex;
  width:100%;
  height:3rem;
  background-image: linear-gradient(60deg, #242424,#474747);
  
    justify-content: space-between;
    align-items: center;
  
  padding-right:5px;
  
  box-shadow:0px 5px 5px rgba(0,0,0,0.5);
}
  
nav div.btn{
  height:2.5rem;
  background-color:white;
  color:black;
  border-radius:15px;
  border:3px solid yellowgreen;
  transition:all .2s;
}
nav div.btn a{
  padding:.5em;
  height:100%;
  width:100%;
  display:block;
  
  text-decoration:none;
  color:yellowgreen;
  font-weight:550;
}

nav div.btn:hover{
  transition:all .2s;
  border-radius:15px;
  background-color:transparent;
}

body .container{
  --sidePadding:50px;
  padding:15px;
  min-height:50%;
  padding-left: var(--sidePadding);
  padding-right: var(--sidePadding);
  
}
  
.container div{
  margin-bottom:10px;
}
  
</style>
</head>
<body>
  <nav>
    
    <div style="height:100%;display:flex;align-items:center;gap:10px;font-size:1.2rem;">
      <img src="https://cdn.discordapp.com/attachments/1027927070191403189/1039196270214008902/tree_favicon_transparent.png" style="height:100%;">
      AMRITA TREES
    </div>
    
    <div style="display: flex;gap: 5px;">
      <div class="btn"><a href="./login">LOGIN</a></div>
      <div class="btn"><a href="./signup">SIGNUP</a></div>
    </div>
    
  </nav>
  
  <div class="container">
    <div style="width:100%;padding:10px;background-color:white;">
      <img src="https://intranet.cb.amrita.edu/sites/default/files/Intranet-Logo_1.png" style="width:100%;max-width:400px;">
    </div>

  </div>
  
</body>
<script>

</script>
</html>