<!DOCTYPE html>
<html lang="en">
<head>
  
  {{> head }}
  
  <title>Amrita Trees</title>
  <link rel="stylesheet" href="./css/style.css">
  <script src="./js/app.js" defer></script>

<style>
  
body{
  background-image:url("https://previews.123rf.com/images/oksanaok/oksanaok1606/oksanaok160600010/60396665-seamless-tile-background-fig-tree-green-leaves-and-abstract-pattern-vector.jpg");
  background-repeat: repeat;
  background-size:300px;
}  

nav{
  display:flex;
  width:100%;
  height:3rem;
  background-image: linear-gradient(60deg, #242424,#474747);
  
    justify-content: flex-end;
    align-items: center;
  
    gap:5px;
  padding-right:5px;
  
  box-shadow:0px 5px 5px rgba(0,0,0,0.5);
}
  
nav > div{
  height:2.5rem;
  background-color:white;
  color:black;
  border-radius:15px;
  border:3px solid yellowgreen;
  transition:all .2s;
}
nav > div a{
  padding:.5em;
  height:100%;
  width:100%;
  display:block;
  
  text-decoration:none;
  color:yellowgreen;
  font-weight:550;
}

nav > div:hover{
  transition:all .2s;
  border-radius:15px;
  background-color:transparent;
}

body .container{
  --sidePadding:50px;
  padding:15px;
  min-height:50%;
  padding-left: var(--sidePadding);
  padding-right: var(--sidePadding);
  
}
  
.container div{
  margin-bottom:10px;
}
  
</style>
</head>
<body>
  <nav>
    
    <div><a href="./login">LOGIN</a></div>
    <div><a href="./signup">SIGNUP</a></div>
    
    
  </nav>
  
  <div class="container">
    <div style="width:100%;padding:10px;background-color:white;">
      <img src="https://intranet.cb.amrita.edu/sites/default/files/Intranet-Logo_1.png" style="width:100%;max-width:400px;">
    </div>
    <div style="width:100%;padding:10px;background-color:white;">
      <img src="https://intranet.cb.amrita.edu/sites/default/files/Intranet-Logo_1.png" style="width:100%;max-width:400px;">
    </div>
  </div>
  
</body>
<script>

</script>
</html>