<!DOCTYPE html>
<html lang="en">
<head>
  
  {{> head }}
  
  <title>Amrita Trees</title>
  <link rel="stylesheet" href="./css/style.css">
  <script src="./js/app.js" defer></script>
  
</head>
<body>
  index
</body>
<script>

</script>
</html>