<!DOCTYPE html>
<html lang="en">
<head>
  
  {{> head }}

  <title>Amrita Trees: Inventory</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/inventory.css">
  <link rel="stylesheet" href="./css/sidebar.css">
  <script src="./js/app.js" defer></script>
  <script src="./js/sidebar.js" defer></script>
  
</head>

<body>
  <div id="container">
    

    <div id="overlay" onclick="clickedOverlay()"></div>
    <div class="icon iconContainer" style="left:5px;border-radius:15px;" onclick="toggleSidebar()"><i class="fas fa-list-ul"></i></div>    
    <div class="icon iconContainer" style="right:5px;border-radius:15px;"><a href="/map"><i class="fas fa-map"></i></a></div> 
  
    <header id="title" class="noSelect">
        INVENTORY
    </header>

   <div class="cards-container">
        {{#each unlocked}}
            <div class="card">
                <div class="img"><img src="{{this.url}}"></div>
                <div class="label">{{this.tree_name}}</div>
            </div>
        {{/each}}
     
        {{#each locked}}
            <div class="card" style="--theme-color:white;">
                <div class="img"><img src="{{this.url}}" style="filter: grayscale(100%);"></div>
                <div class="label">???</div>
            </div>
        {{/each}}  
  </div>
  
    
    {{> sidebar }}
    
  </div>
  
</body>
<script>


</script>

</html>