<!DOCTYPE html>
<html lang="en">
<head>
  
  {{> head }}

  <title>Amrita Trees: Inventory</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/inventory.css">
  <link rel="stylesheet" href="./css/sidebar.css">
  <script src="./js/app.js" defer></script>
  <script src="./js/sidebar.js" defer></script>
  
</head>

<body>
  <div id="container">
    

    <div id="overlay" onclick="clickedOverlay()"></div>
    <div class="icon iconContainer" style="left:5px;border-radius:15px;" onclick="toggleSidebar()"><i class="fas fa-list-ul"></i></div>    
    <div class="icon iconContainer" style="right:5px;border-radius:15px;"><a href="/map">
<!--       <i class="fas fa-map" ></i> -->
      <object data="https://cdn.glitch.global/9d67ff5c-524b-467b-aa2f-2cb422728542/map-location-dot-solid.svg?v=1662467008997"></object></a></div> 
  
    <header id="title" class="noSelect">
        INVENTORY
    </header>

   <div class="cards-container noSelect">
        {{#each unlocked}}
            <div class="card">
                <div class="img"><img src="{{this.url}}"></div>
                <div class="label">{{this.tree_name}}</div>
            </div>
        {{/each}}
     
     
        {{#each locked}}
            <div class="card" style="--theme-color:white;">
                <div class="img"><img src="{{this.url}}" style="filter: grayscale(100%);"></div>
                <div class="label">???</div>
            </div>
        {{/each}}  
     
  </div>
  
    
    {{> sidebar }}
    
  </div>
  
</body>
<script>

window.addEventListener("DOMContentLoaded", async ()=>{
  console.log("page loaded");
  const response = await fetch("./inventory?raw=json");
  const jsonndata = await response.json();
  console.log(jsondata);

  if(response.ok != true){return;}
  
  localStorage.setItem("inventoryData", JSON.stringify(jsondata) );
  const data = JSON.parse(localStorage.getItem("inventoryData"));
  
  
  $(".cards-container").innerHTML = "";
  data.unlocked.forEach(e=>{
    console.log(e);
    const card = document.createElement("div");
    card.classList = "card";
    card.innerHTML = `
              <div class="img"><img src="${e.url}"></div>
              <div class="label">${e.tree_name}</div>`
    
    $(".cards-container").appendChild(card);
  })
  
  data.locked.forEach(e=>{
    console.log(e);
    const card = document.createElement("div");
    card.classList = "card";
    card.style.setProperty("--theme-color","white");
    card.innerHTML = `
              <div class="img"><img src="${e.url}" style="filter: grayscale(100%);"></div>
              <div class="label">${e.tree_name}</div>`
    
    $(".cards-container").appendChild(card);
  })
})
  
  
</script>

</html>