<!DOCTYPE html>
<html lang="en">
<head>
  
  {{> head }}

  <title>Amrita Trees: Inventory</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/inventory.css">
  <link rel="stylesheet" href="./css/sidebar.css">
  <script src="./js/app.js" defer></script>
  <script src="./js/sidebar.js" defer></script>
  
</head>

<body>
  
    {{> navbar}}
  
    <header id="title" class="noSelect">
        INVENTORY
    </header>

   <div class="cards-container">
        {{#each unlocked}}
            <div class="card">
                <div class="img"><img src="{{this.url}}"></div>
                <div class="label">{{this.tree_name}}</div>
            </div>
        {{/each}}
     
        {{#each locked}}
            <div class="card" style="--theme-color:white;">
                <div class="img"><img src="{{this.url}}" style="filter: grayscale(100%);"></div>
                <div class="label">???</div>
            </div>
        {{/each}}  
  </div>
  
  
  
  
    <div id="overlay" 
         style="display:none;width:100%;height:100%;position:fixed;top:0;left:0;background-color:rgba(0,0,0,.25);z-index:1;" 
         onclick="clickedOverlay()"></div>
  
    
    {{> sidebar }}
    
  
</body>
<script>


</script>

</html>