<!DOCTYPE html>
<html lang="en">
<head>
  
  {{> head }}
  
  <title>Amrita Trees: map</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/map.css">
  <link rel="stylesheet" href="./css/sidebar.css">
  <script src="./js/app.js" defer></script>
  <script src="./js/map.js" defer></script>
  <script src="./js/sidebar.js" defer></script>

<style>

#mapContainer{
  height:100%;
  overflow:hidden;
}
  
#map{
  height:calc(100% + 23px);
}  
  
</style>
  
</head>
<body id="body">
  <div id="container">
    
    <div id="overlay" onclick="clickedOverlay()"></div>
    <div class="icon iconContainer" style="left:5px;" onclick="toggleSidebar()"><i class="fas fa-user"></i></div>    
    <div class="icon iconContainer" style="right:5px;"></div>    

    <div id="mapContainer">
      <div id="map"></div>
    </div>

    {{> sidebar }}
    

  </div>
</body>
<script>
function initMap() {
  
  let map = new google.maps.Map(document.getElementById("map"),
    {
      center: { lat: 10.900016808568687, lng: 76.9028589289025 },
      zoom: 20,
      mapId: "350712befbb9be51",
      mapTypeId: 'satellite',
    }
  );
//   10.900016808568687, 76.9028589289025
  
  map.setOptions({
    // draggable: false, 
    zoomControl: false, 
    // scrollwheel: false, 
    disableDoubleClickZoom: true,
    disableDefaultUI: true,
  });

  const currPosMarker = new google.maps.Marker({
    position: { lat: 10.900016808568687, lng: 76.9028589289025 },map,
    icon:"https://cdn.glitch.global/9d67ff5c-524b-467b-aa2f-2cb422728542/currPosMarker.png?v=1661892594255"
  });

  
  
  const loop = () => {
    if(navigator.geolocation){navigator.geolocation.getCurrentPosition( (position)=>{
      const pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude,
      };
      map.setCenter(pos);
      const latlng = new google.maps.LatLng(pos.lat, pos.lng);
      currPosMarker.setPosition(latlng);
    });
    }
  }
  
  setInterval(loop,1000);
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvqOwdG2V1lAA_O6rI-JR26bxSZQecj-g&map_id=350712befbb9be51&callback=initMap"></script>
</html>