<!DOCTYPE html>
<html lang="en">
<head>
  
  {{> head }}
  
  <title>Amrita Trees: map</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/map.css">
  <link rel="stylesheet" href="./css/sidebar.css">
  <script src="./js/app.js" defer></script>
  <script src="./js/map.js" defer></script>
  <script src="./js/sidebar.js" defer></script>
  
<style>

#mapContainer{
  height:100%;
  overflow:hidden;
}
  
#map{
  height:calc(100% + 23px);
}  
  
</style>
  
</head>
<body id="body">
  <div id="container">
    
    <div id="overlay" onclick="clickedOverlay()"></div>
    <div class="icon iconContainer" style="left:5px;border-radius:15px;" onclick="toggleSidebar()"><i class="fas fa-list-ul"></i></div>    
    <div class="icon iconContainer" style="right:5px;border-radius:15px;"><a href="/inventory"><i class="fas fa-backpack"></i></a></div>    

    <div id="mapContainer">
      <div id="map"></div>
    </div>

    {{> sidebar }}
    

  </div>
</body>
<script>
function initMap() {
  
  let map = new google.maps.Map(document.getElementById("map"),
    {
      center: { lat: 10.900016808568687, lng: 76.9028589289025 },
      zoom: 20,
      mapId: "661dd2cc98d8e9e2",
      mapTypeId: 'satellite',
    }
  );
//   10.900016808568687, 76.9028589289025
  
  map.setOptions({
    // draggable: false, 
    zoomControl: false, 
    // scrollwheel: false, 
    disableDoubleClickZoom: true,
    disableDefaultUI: true,
  });

  const treePoints = []
  
  const treeMarker = new google.maps.Marker({
    position: { lat: -33.89, lng: 151.274 },
    map,
    icon: tree_icon,
    size: new google.maps.size()
  });
  }
  
  
  const loop = () => {
    if(navigator.geolocation){navigator.geolocation.getCurrentPosition( (position)=>{
      const pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude,
      };
      map.setCenter(pos);
      const latlng = new google.maps.LatLng(pos.lat, pos.lng);
      currPosMarker.setPosition(latlng);
    });
    }
  }
  
  const currPosMarker = new google.maps.Marker({
    position: { lat: 10.900016808568687, lng: 76.9028589289025 },map,
    icon:"https://cdn.glitch.global/9d67ff5c-524b-467b-aa2f-2cb422728542/currPosMarker.png?v=1661892594255"
  });

  
  // setInterval(loop,1000);
}
  
  
const tree_icon = "https://cdn.glitch.global/9d67ff5c-524b-467b-aa2f-2cb422728542/tree-icon.png?v=1662401098072";
window.initMap = initMap;
</script>

<!--   <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA554gL9cKaa3KqhS8biWu9p9eDCn31z0Q&map_id=661dd2cc98d8e9e2&callback=initMap"></script> -->
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA554gL9cKaa3KqhS8biWu9p9eDCn31z0Q&callback=initMap">
</script>
  
</html>