<!DOCTYPE html>
<html lang="en">
<head>
  
  {{> head }}
  
  <title>Amrita Trees: Repository</title>
  <link rel="stylesheet" href="./css/style.css">
<!--   <link rel="stylesheet" href="./css/map.css"> -->
  
  <script src="./js/app.js" defer></script>
<!--   <script src="./js/map.js" defer></script> -->
  
<style>

#mapContainer{
  height:100%;
  overflow:hidden;
}
  
#map{
  height:calc(100% + 23px);
}  

  
.gm-style-iw-d{
  color:black;    
}
</style>

<style>
#treetable{
  
  --textSize: 1.3rem;
  --heightMultiplier: 5;
  
  --gap: 10px;
  width:min(350px,calc(100% - var(--gap) - var(--gap)));
  height:calc( var(--textSize) * var(--heightMultiplier) );
  background-color:gray;
/*   border: 3px solid red; */
  overflow:auto;
  
  position:absolute;
  left:var(--gap);
  bottom:calc( 3 * var(--gap) );
  
  border-radius:15px;
}

#treetable .table{
  --margin: .5rem;
  display:flex;
  flex-direction:column;
  
  height:100%;
  overflow-y:scroll;
  
  scroll-snap-type: y mandatory;
  padding-top: calc( 2 * var(--textSize));
  padding-bottom: calc( 2 * var(--textSize));
  padding-left: 2rem;
  position:relative;
}
  
#treetable:after{
  --borderThickness: 4px;
  content:"";
  position:absolute;
  top:50%;
  left:calc(-1rem - var(--borderThickness));
  transform:translate(0,-50%) rotate(45deg) scale(.75);
  
  background-image:linear-gradient(45deg, green, yellowgreen);
  border: var(--borderThickness) solid black;
  width:2rem;
  height:2rem;
}
  
#treetable .table::-webkit-scrollbar {width: 3px;}
#treetable .table::-webkit-scrollbar-track {background: transparent;}
#treetable .table::-webkit-scrollbar-thumb {background: white;}
  
#treetable .table div{
  --outlineWidth: 90%;
  scroll-snap-align: center;
/*   height: 2.5rem; */
  margin-top: var(--margin);
  margin-bottom: var(--margin);
  
  color:white;
  
  font-size: calc( var(--textSize) + .4rem );
  display: flex;
  align-items: center;
/*   justify-content: center; */
  
  position:relative;
  padding-left:20px;
  
}
#treetable .table div.active:after{
  
  content:"";
  position:absolute;left:0;top:50%;
  transform:translateY(-50%);
  height:100%;
  width: var(--outlineWidth);
  border:3px solid white;
  border-radius:25px;
}
  
#treetable .table div span{
  position:absolute;
  right:calc( 100% - var( --outlineWidth) - 3px + 3px);
  top:50%;
  transform:translateY(-50%);
  height: calc(100% - 6px);
  width: calc( var(--textSize) * 1.5 - 6px);
  display:none;
  background-color:blue;
  border-radius:50%;
}
  
#treetable .table div.active span{
  display:block;    
}
  
#treetable .table div.active span i{
  display:flex;
  width:100%;
  height:100%;
  font-size:1rem;
}
</style>
  
</head>
<body id="body">
  <div id="container">
    
    <div id="overlay" onclick="clickedOverlay()"></div>        

    <div id="mapContainer">
      <div id="map"></div>
    </div>


    
    <div id="treetable">
      <div class="table" onwheel="onWheel(event)">
        
        <div>aaa</div>
        <div>bbb</div>
        <div>ccc</div>
        <div>ddd</div>
        <div>eee</div>
        <div>fff</div>

        <div>aaa</div>
        <div>bbb</div>
        <div>ccc</div>
        <div>ddd</div>
        <div>eee</div>
        <div>fff</div>

        <div>aaa</div>
        <div>bbb</div>
        <div>ccc</div>
        <div>ddd</div>
        <div>eee</div>
        <div>fff</div>

      </div>
    </div>

  </div>
</body>
  
<script>
function $(x){return document.querySelector(x);}
  
document.querySelectorAll(".table > div").forEach(ele => {
  // console.log(ele);
  ele.classList.add("noSelect");
  const search = document.createElement("span");
  search.innerHTML = `<i class="fas fa-info"></i>`
  ele.appendChild(search)
  ele.addEventListener("click", ()=>{
    ele.scrollIntoView();
    if($(".table").lastElementChild != ele)$(".table").scrollBy({left:0,top:-16});
    
    if( $(".table div.active") ) $(".table div.active").classList.remove("active");
    ele.classList.add("active");
    
  });
  
})
  
function onWheel(e){
//   console.log(e);
  
//   let d = e.deltaY;
//   while(d > 0){
//     $(".table").scrollBy({left:0,top:32, behavior:"smooth"});
//     d -= 125;
//   }
//   while(d < 0){
//     $(".table").scrollBy({left:0,top:-32, behavior:"smooth"});
//     d += 125;
//   }
  
  if(e.deltaY > 0){
    // down
    // console.log("down");
    $(".table").scrollBy({left:0,top:32, behavior:"smooth"});
  } else {
    // up
    // console.log("up");
    $(".table").scrollBy({left:0,top:-32, behavior:"smooth"});
  }
  e.preventDefault();
}
  
  
</script>
  
<script>
console.log("init map");
async function initMap() {
  
  let map = new google.maps.Map(document.getElementById("map"),
    {
      center: { lat: 10.900016808568687, lng: 76.9028589289025 },
      zoom: 20,
      mapId: "661dd2cc98d8e9e2",
      mapTypeId: 'satellite',
    }
  );
  
  map.setOptions({
    // draggable: false, 
    zoomControl: false, 
    // scrollwheel: false, 
    disableDoubleClickZoom: true,
    disableDefaultUI: true,
  });
  
}
  
  
const tree_icon_url = "https://amritatrees.sirv.com/treeicon32.png";
// const tree_icon_url = "https://cdn.glitch.global/9d67ff5c-524b-467b-aa2f-2cb422728542/treeicon.32png.png?v=1662405399801";
// const transparent = "https://cdn.glitch.global/9d67ff5c-524b-467b-aa2f-2cb422728542/transparentlayer.png?v=1664718701490";
const mapIcon = "https://cdn.glitch.global/9d67ff5c-524b-467b-aa2f-2cb422728542/amritamap.png?v=1664725171814"
window.initMap = initMap;
</script>

<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA554gL9cKaa3KqhS8biWu9p9eDCn31z0Q&callback=initMap">
</script>
  
</html>