<!DOCTYPE html>
<html lang="en">
<head>
  
  {{> head }}
  
  <title>Amrita Trees: Repository</title>
  <link rel="stylesheet" href="./css/style.css">
<!--   <link rel="stylesheet" href="./css/map.css"> -->
  
  <script src="./js/app.js" defer></script>
<!--   <script src="./js/map.js" defer></script> -->
  
<style>
#container{
  height:100%;
}
  
#mapContainer{
  height:100%;
  overflow:hidden;
}
  
#map{
/*   height:calc(100% + 23px); */
  height: 100%;
}  

  
.gm-style-iw-d{
  color:black;    
}
</style>
<style>
#treetable{
  
  --textSize: 1.1rem;
  --heightMultiplier: 5;
  
  --gap: 10px;
  width:min(350px,calc(100% - var(--gap) - var(--gap)));
  height:calc( var(--textSize) * var(--heightMultiplier) );
  background-image:linear-gradient(-90deg,#323232,#484848);
  border:3px solid black;
  border-left:4px solid black;
  border-right:1px solid black;
  overflow:auto;
  
  position:absolute;
  left:var(--gap);
  bottom:calc( 3 * var(--gap) );
  
  border-radius:15px;
}

#treetable .table{
  --margin: .5rem;
  display:flex;
  flex-direction:column;
  
  height:100%;
  overflow-y:scroll;
  
  scroll-snap-type: y mandatory;
  padding-top: calc( 2 * var(--textSize));
  padding-bottom: calc( 2 * var(--textSize));
  padding-left: 2rem;
  position:relative;
}
  
#treetable:after{
  --borderThickness: 4px;
  content:"";
  position:absolute;
  top:50%;
  left:calc(-1rem - var(--borderThickness));
  transform:translate(0,-50%) rotate(45deg) scale(.75);
  
  background-image:linear-gradient(45deg, green, yellowgreen);
  border: var(--borderThickness) solid black;
  width:2rem;
  height:2rem;
}
  
#treetable .table::-webkit-scrollbar {width: 3px;}
#treetable .table::-webkit-scrollbar-track {background: transparent;}
#treetable .table::-webkit-scrollbar-thumb {background: white;}
  
#treetable .table div{
  --outlineWidth: 90%;
  scroll-snap-align: center;
/*   margin-top: var(--margin); */
  margin-bottom: var(--margin);
  
  color:white;
  
  font-size: calc( var(--textSize) + .4rem );
  display: flex;
  align-items: center;
/*   justify-content: center; */
  
  position:relative;
  padding-left:20px;
  
/*   overflow:hidden; */
  height: 2rem;
  
}
#treetable .table div.active:before{
  
  content:"";
  position:absolute;left:0;top:50%;
  transform:translateY(-50%);
  height:100%;
  width: var(--outlineWidth);
  border:3px solid white;
  border-radius:25px;
}
  
#treetable .table div span{
  position:absolute;
  right:calc( 100% - var( --outlineWidth) - 3px + 3px);
  top:50%;
  transform:translateY(-50%);
  height: calc(100% - 6px);
/*   width: calc( var(--textSize) * 1.5 - 6px); */
  width: calc( 2rem - 9px);
  display:none;
  background-color:yellowgreen;
  border-radius:50%;
}
  
#treetable .table div.active span{
  display:block;    
}
  
#treetable .table div.active span i{
  display:flex;
  width:100%;
  height:100%;
  font-size:1rem;
  align-items: center;
  justify-content: center;
}
</style>
  
</head>
<body id="body">
  <div id="container">
    
    <div id="overlay" onclick="clickedOverlay()"></div>        

    <div id="mapContainer">
      <div id="map"></div>
    </div>

  </div>
</body>
  
<script>
function $(x){return document.querySelector(x);}

const chicago = { lat: 41.85, lng: -87.65 };
  
function tableItem(ele){
  ele.scrollIntoView();
  if($(".table").lastElementChild != ele)$(".table").scrollBy({left:0,top:-16});

  if( $(".table div.active") ) $(".table div.active").classList.remove("active");
  ele.classList.add("active");
}
  
function tableItemBtn(id){
  console.log("span clicked",id);
  console.log("10.903"+Math.floor(Math.random() * 10000)+","+" 76.89"+Math.floor(Math.random() * 10000))
  map.setCenter(chicago);
}
function onWheel(e){
  if(e.deltaY > 0){$(".table").scrollBy({left:0,top:32, behavior:"smooth"});
  } else {$(".table").scrollBy({left:0,top:-32, behavior:"smooth"});}
  e.preventDefault();
}
  
  
</script>
  
<script>
console.log("init map");
  
function createTable(map){
  const table = document.createElement("div");
  table.classList = "table noSelect";
//   for(let i = 0; i < 15; i++ ){
//     const div = document.createElement("div");
//     const lat = Number( "10.903"+Math.floor(Math.random() * 10000) );
//     const lng = Number("76.89"+Math.floor(Math.random() * 10000) );
    
//     div.innerHTML = `${lat}, ${lng}`;
//     div.addEventListener("click",()=>{
//       // map.setCenter(chicago);
//       tableItem(div);
//     });
    const response = await fetch("https://amritatrees.glitch.me/treeProps") 
    console.log(response)
  
  
    const span = document.createElement("span");
    span.innerHTML = `<i class="fas fa-info"></i>`;
    span.addEventListener("click",(i)=>{
      console.log("span clicked",i);
      pos = { lat: lat, lng:lng }
      map.setCenter(pos);
    });
    div.appendChild(span);
    
    table.appendChild(div);
  }
  
  table.addEventListener("wheel",onWheel);
  
  return table;
}
  
  
  
async function initMap() {
  
  let map = new google.maps.Map(document.getElementById("map"),
    {
      center: { lat: 10.900016808568687, lng: 76.9028589289025 },
      zoom: 20,
      mapId: "661dd2cc98d8e9e2",
      mapTypeId: 'satellite',
    }
  );
  
  map.setOptions({
    // draggable: false, 
    zoomControl: false, 
    scrollwheel: false, 
    disableDoubleClickZoom: true,
    disableDefaultUI: true,
  });

  
  const treetable = document.createElement("div");
  treetable.id = "treetable";
  treetable.style.marginLeft = "var(--gap)";
  // treetable.style.marginBottom = "calc( 3 * var(--gap) )";
  const table = createTable(map);
  
  treetable.appendChild(table);
  map.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(treetable);

}
  
const tree_icon_url = "https://amritatrees.sirv.com/treeicon32.png";
window.initMap = initMap;
</script>

<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA554gL9cKaa3KqhS8biWu9p9eDCn31z0Q&callback=initMap">
</script>
  
</html>