  <div id="invbar" class="noSelect">
    <div class="icon iconContainer noSelect" style="right:5px;border-radius:15px;" onclick="toggleInventorybar()"><i class="fas fa-backpack"></i></div>
    <header class="noSelect title">INVENTORY</header>
    <div class="cards-container noSelect">
      
      
      
    </div>
  </div>