  <div id="invbar" class="noSelect">
<!--     <div class="icon iconContainer noSelect" style="right:5px;border-radius:15px;" onclick="toggleInventorybar()"><i class="fas fa-backpack"></i></div>
    <header class="noSelect title">INVENTORY</header>
    <div class="cards-container noSelect">
      
      
      
    </div> -->
    <div class="top">
      
      <div>
        <div class="iconDiv" onclick="toggleSidebar()"><i class="fas fa-bars" title="menu"></i></div>
      </div>
      
      <div>
        <div class="textDiv">
          <span>INVENTORY</span>
        </div>
      </div>
      
      <div>
        <div class="iconDiv" onclick="toggleInventorybar()"><i class="fas fa-map" title="inventory"></i></div>
      </div>
    
    </div>
    
    <div class="inventory">
      <div class="cards-container noSelect">
        
      </div>
    </div>
    
  </div>