  <div id="marker_prompt" class="noSelect">

    <div class="top">
      
      <div>
      </div>
      
      <div>
        <div class="textDiv">
          <span>MARKER</span>
        </div>
      </div>
      
      <div>
        <div class="iconDiv" onclick="closeMarkerPrompt()"><i class="fas fa-times-circle" title="close marker prompt"></i></div>
      </div>
    
    </div>
    
    <div class="markerDetails">

    </div>
    
  </div>