  <div id="marker_prompt" class="noSelect">

    <div class="top">
      
      <div>
      </div>
      
      <div>
        <div class="textDiv">
          <span>ADD MARKER</span>
        </div>
      </div>
      
      <div>
        <div class="iconDiv" onclick="closeMarkerPrompt()"><i class="fas fa-times-circle" title="close marker prompt"></i></div>
      </div>
    
    </div>
    
    <div class="markerDetails">
      
      <video style="aspect-ratio:1/1;width:min(500px, 80%);max-width:500px;background:black;border-radius:10px;"></video>
      
    </div>
    
  </div>