    <nav class="navbar noSelect active">
<!--       <div style="padding-left:10px;cursor:pointer;" onclick="toggleSidebar()" class="iconContainer">
        <i class="fas fa-bars" title="menu"></i>
      </div>
      
      <div class="iconContainer" style="font-size:x-large;"></div>
      
      <div style="padding-right:10px;">
        <div style="padding-left:10px;cursor:pointer;" onclick="bellClicked(this)" class="iconContainer" id="bell">
          <i class="fas fa-bell" title="notifications"></i></div>
        <div style="padding-left:10px;cursor:pointer;" onclick="questsClicked(this)" class="iconContainer" id="quest">
          <i class="fas fa-scroll" title="quests"></i></div>
      </div> -->
      
      <div>
        <div class="iconDiv"><i class="fas fa-bars" title="menu"></i></div>
      </div>
      
      <div>
        <div class="textDiv">
          <p>Sunny</p>
          <p>10:08 am</p>
          
          
        </div>
      </div>
      
      <div>
        <div class="iconDiv"><i class="fas fa-backpack" title="inventory" onclick="toggleInventorybar()"></i></div>
      </div>
      
      <div id="actionbar"></div>
      
    </nav>