    <div id="sidebar" class="noSelect">
      <div>
        <h1>Profile</h1>
      </div>
        <div id="profile" style="font-size:1.2rem;">
          <div id="pfp" style="text-align:center;">
            <img src="https://as2.ftcdn.net/v2/jpg/03/49/49/79/1000_F_349497933_Ly4im8BDmHLaLzgyKg2f2yZOvJjBtlw5.jpg" width="125px" 
                 style="border-radius:50%;border:solid 3px white;">
          </div>
          <div id="greeting" style="text-align:center;">Hello, {{user.username}}</div>
          <div id="showpoints" style="text-align:center;">You have <span style="color:yellowgreen;text-decoration:underline;">{{user.points}}</span> points.</div>
          
          <a href="/">HOME</a>
          <a href="/inventory">INVENTORY</a>
          <a href="/leaderboards">LEADERBOARDS</a>
          
  
          
        </div>
        <div id="settings">
          <header><span></span><div>Settings</div><span></span></header>
          <div>
            <span><a href="/map">map</a></span>
          </div>
          <hr>
          <div class="toggleable">
            <div>sounds</div>
            <div>
              <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <hr>
          <div class="toggleable">
            <div>notifications</div>
            <div>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <hr>
          <div>
            <span>about our app</span>
          </div>
          <hr>
          <div class="toggleable">
            <div><a href="./logout">logout</a></div>
            <div><img src="https://cdn.onlinewebfonts.com/svg/img_21244.png" style="width:2rem;padding-right:10px;"></div>
          </div>
          <hr>
        </div>
    </div>