<!--     <div id="sidebar" class="noSelect">
      <div>
        <h1>Profile</h1>
      </div>
        <div id="profile" style="font-size:1.2rem;">
          <div id="pfp" style="text-align:center;">
            <img src="https://as2.ftcdn.net/v2/jpg/03/49/49/79/1000_F_349497933_Ly4im8BDmHLaLzgyKg2f2yZOvJjBtlw5.jpg" width="125px" 
                 style="border-radius:50%;border:solid 3px white;">
          </div>
          <div id="greeting" style="text-align:center;">Hello, {{user.username}}</div>
          <div id="showpoints" style="text-align:center;">You have <span style="color:yellowgreen;text-decoration:underline;">{{user.points}}</span> points.</div>
          
          <a href="/">HOME</a>
          <a href="/inventory">INVENTORY</a>
          <a href="/leaderboards">LEADERBOARDS</a>
          
  
          
        </div>
        <div id="settings">
          <header><span></span><div>Settings</div><span></span></header>
          <div>
            <span><a href="/map">map</a></span>
          </div>
          <hr>
          <div class="toggleable">
            <div>sounds</div>
            <div>
              <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <hr>
          <div class="toggleable">
            <div>notifications</div>
            <div>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <hr>
          <div>
            <span>about our app</span>
          </div>
          <hr>
          <div class="toggleable">
            <div><a href="./logout">logout</a></div>
            <div><img src="https://cdn.onlinewebfonts.com/svg/img_21244.png" style="width:2rem;padding-right:10px;"></div>
          </div>
          <hr>
        </div>
    </div> -->


  <div id="sidebar" class="noSelect">
    <div class="profile">
      <h1 style="padding-left:10px;font-size: 1.4rem;text-transform: uppercase;">
        <!-- <span></span> -->
        profile
        <!-- <span></span> -->
      </h1>
      <div class="profileDiv">
        <div><img src="https://as2.ftcdn.net/v2/jpg/03/49/49/79/1000_F_349497933_Ly4im8BDmHLaLzgyKg2f2yZOvJjBtlw5.jpg" width="80%" style="border-radius:50%;border:solid 3px white;"></div>
        <div style="width:100%;overflow:hidden;"><span>{{user.username}}</span></div>
        <div style="width:100%;overflow:hidden;"><span>{{user.points}} points</span></div>
      </div>

      <div class="defaultOptions">
        <div><span class="material-symbols-rounded" style="transform:translateY(3px);">leaderboard</span> Leaderboards</div>
        <div><span class="material-symbols-rounded" style="transform:translateY(3px);">speaker_notes</span> Updates</div>
        <div><span class="material-symbols-rounded" style="transform:translateY(3px);">help</span> How to Play</div>
      </div>
    </div>

    <div class="project_problem">
      <h1><span></span>problem<span></span></h1>
      <a href="/repository" class="golden"></a>
    </div>

    <div class="settings">
      <h1><span></span>settings<span></span></h1>
      <div class="toggleable">
        <div><span class="material-symbols-rounded" style="transform:translateY(3px);">volume_up</span> Sounds</div>
        <div>
          <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <hr>
      <div class="toggleable">
        <div><span class="material-symbols-rounded" style="transform:translateY(3px);">notifications</span> Notifications</div>
        <div>
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <hr>
      <div>
        <div><span class="material-symbols-rounded" style="transform:translateY(3px);">info</span> About our app</div>
      </div>
      <hr>
      <div class="toggleable">
        <div><span class="material-symbols-rounded" style="transform:translateY(3px);">power_rounded</span><a href="./logout" style="text-decoration: none;color:inherit"> Logout</a></div>
      </div>
      <hr>
    </div>



  </div>